@using Microsoft.AspNetCore.Mvc.Rendering
@{
    Layout = "../Shared/_Layout.cshtml";
}
@model CoffeePoint.Domain.Entities.Product

<h1>Продукт</h1>
@using (Html.BeginForm(Model.ProductGuid!=Guid.Empty?"Update":"Create", "Products", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="form-group-lg">
        @Html.LabelFor(a => a.ProductGuid)
        @Html.ValueFor(a => a.ProductGuid)
        @Html.HiddenFor(a => a.ProductGuid)
    </div>
    
    <div class="form-group-lg">
        @Html.LabelFor(a => a.Name)
        @Html.TextBoxFor(a => a.Name, new {@class = "form-control"})
    </div>
    <div class="form-group-lg">
        @Html.LabelFor(a => a.Description)
        @Html.TextAreaFor(a => a.Description, new {@class = "form-control"})
    </div>
    
    <div class="form-group-lg">
        @Html.LabelFor(a => a.Price)
        @Html.TextBoxFor(a => a.Price, new {@class = "form-control"})
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    if (Model.ProductGuid != Guid.Empty)
    {
        @Html.ActionLink("Удалить","Delete",new{@Model.ProductGuid},new{@class="btn btn-danger"})
    }
}
